
#button-container {
  display: flex;
  justify-content: space-around;
  padding: 8px 0 8px 0;
}

.active {
  background-color: #ff6;
}

.active h4 {
  color: #000;
}

button {
  border: none;
  outline: none;
  margin: 0;
  padding-left: 7vw;
  padding-right: 7vw;
  background-color: #747A80;
}

button:hover {
  background-color: #fcfcde;
}

button h4 {
  font-size: 16px;
  color: #FFF;
}

button:hover h4 {
  color: #000;
}
