@import './Button/button.scss';
@import './CardList/cardlist.scss';
@import './Aside/aside.scss';
@import './Card/card.scss';
@import './Favorites/favorites.scss';

#main-container {
  display: flex;
}

#content-container {
  width: 100%;
  border: 1px solid magenta;
}

#header-container {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid green;

}

#button-container {
  display: flex;
  border: 1px solid brown;

}

#card-container {
  display: flex;
  border: 1px solid orange;
}
