
#favorites-container {
  float: right;
  display: flex;
  padding-left: 2vw;
  align-items: center;
}

#favorites-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #000;
  margin-left: 5px;
}

#favorites-box h4 {
  padding: 0;
  margin: 0;
  color: #FFF;
}

h5 {
  font-size: 16px;
  width: 16vw;
}

.favorited {
  background: #ff6;
}
