
.card-container {
  width: 200px;
  background: #747A80;
  margin: 8px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
}

.card-title h2 {
  // text-indent: 10px;
  color: #D3D7DE;
  margin: 8px 0;
  font-size: 18px;
}

.star-icon {
  min-width: 35px;
  height: 35px;
  background: #7DACAD;
  clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
  margin: 5px;
}

.card-contents {
  padding: 0 8px;
}

.card-contents h3:first-of-type {
  border-top: 1px solid rgba(211, 215, 222, 0.5);
}

.card-contents h3 {
  text-align: center;
  color: #D3D7DE;
  font-size: 16px;
  margin: 0;
  padding: 6px;
}
